<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django App</title>
    <!--Bootstrap references-->
    <!--Using the internal static files inside the todo application-->
        <!-- <link href="{% static 'todo/assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'todo/assets/js/bootstrap.bundle.min.js' %}"></script> -->
    <!--Using the new STATICFILES_DIRS-->
        <link href="{% static 'main/assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'main/assets/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
{% include 'main/header.html' %}

<a href="{% url 'project-index' %}">Project Index</a>
<br/>
<a href="{% url 'todo:todo-list' %}">Todo List</a>
<br/>
<a href="{% url 'movie:movie-index' %}">Movie List</a>
<br/>
<br/>

{% block main-content %}
<li> You need to override block main-content </li>
{% endblock %}

<br/>

{% include 'main/footer.html' %}
</body>
</html>

